# Compiled binaries
out

fuzz-results
log.html

# Generated build config files 
gyp-mac-tool
Makefile
*.Makefile
*.target.mk

# IDE files
.idea
*.xcodeproj

# Dev dependencies
test/fixtures/grammars/*
!test/fixtures/grammars/.gitkeep
externals/cpplint.py
