log*.html

.idea
*.xcodeproj
.vscode
.cache

fuzz-results

test/fixtures/grammars/*
!test/fixtures/grammars/.gitkeep
package-lock.json
node_modules

docs/assets/js/tree-sitter.js

/target
*.rs.bk
*.a
*.dylib
*.so
*.so.[0-9]*
*.o
*.obj
*.exp
*.lib
*.wasm