[submodule "externals/bandit"]
	path = externals/bandit
	url = https://github.com/joakimkarlsson/bandit.git
[submodule "externals/gyp"]
	path = externals/gyp
	url = https://github.com/svn2github/gyp.git
[submodule "externals/utf8proc"]
	path = externals/utf8proc
	url = https://github.com/julialang/utf8proc
[submodule "externals/json-parser"]
	path = externals/json-parser
	url = https://github.com/udp/json-parser.git
[submodule "externals/crypto-algorithms"]
	path = externals/crypto-algorithms
	url = https://github.com/maxbrunsfeld/crypto-algorithms.git
