sudo: false
dist: trusty
language: cpp
compiler:
- gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-5
    - clang

install:
- export CXX="g++-5"
- scan-build script/configure

script:
- script/ci
