#main-content, #table-of-contents {
  margin-top: 20px;
}

#table-of-contents {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.nav-link.active {
  text-decoration: underline;
}
